/* calculatrice.css */

/**
 * Importation des fichiers CSS externes pour les couleurs et les polices.
 */
@import "./color.css";
@import "./font.css";
@import "./media-query.css";
@import "./button.css";

/**
  * Réinitialisation des marges et paddings pour tous les éléments.
  */
* {
  margin: 0;
  padding: 0;
}

/**
  * Style pour le corps du document.
  */
body {
  background-color: var(--bg-color); /* Couleur de fond principale */
}

/**
  * Style pour le conteneur de la calculatrice.
  */
#gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes égales */
  grid-template-rows: repeat(6, 1fr); /* 6 lignes égales */
  grid-column-gap: 10px; /* Espacement entre les colonnes */
  grid-row-gap: 10px; /* Espacement entre les lignes */
  padding: 10px; /* Espacement intérieur */
  position: relative; /* Positionnement relatif */
  left: 40vw; /* Décalage horizontal */
  top: 25vh; /* Décalage vertical */
  height: 57%; /* Hauteur du conteneur */
  width: 20%; /* Largeur du conteneur */
  background-color: var(
    --bg-container-color
  ); /* Couleur de fond des conteneurs */
  border-radius: 25px; /* Coins arrondis */
  box-shadow: 3px 3px 12px #555; /* Ombre légère pour l'effet de profondeur */
}

/**
  * Style pour l'affichage de l'écran de la calculatrice.
  */
#screenDisplay {
  grid-area: 1 / 1 / 2 / 5; /* Positionnement dans la grille */
  background-color: var(--button-color); /* Couleur de fond */
  box-shadow: 3px 3px 12px #202020; /* Ombre légère */
  border-radius: 25px; /* Coins arrondis */
  border: none; /* Suppression de la bordure */
  display: flex; /* Utilisation de flexbox */
  align-items: center; /* Centrage vertical */
  justify-content: flex-end; /* Alignement à droite */
  padding-right: 15px; /* Espacement intérieur à droite */
  color: var(--font-color); /* Couleur de la police */
  text-shadow: 3px 3px 12px #747474; /* Ombre du texte */
  font-family: var(--font-police); /* Police de caractères */
  font-size: 5rem; /* Taille de la police */
}
