:root {
  --bg-color: rgb(183, 183, 183);
  --bg-container-color: #2a2930;
  --button-color: rgb(73, 73, 73);
  --font-color: rgb(231, 233, 234);
  --clear-button: rgb(212, 0, 0);
  --addition-button: rgb(103, 219, 97);
}
