/* calculatrice.css */

/**
 * Importation des fichiers CSS externes pour les couleurs et les polices.
 */
@import "./root/color.css";
@import "./root/font.css";
@import "./media-query/media-handler.css";
@import "./button.css";

/**
  * Réinitialisation des marges et paddings pour tous les éléments.
  */
* {
  margin: 0;
  padding: 0;
}

/**
  * Style pour le corps du document.
  */
body {
  background-color: var(--bg-color); /* Couleur de fond principale */
}

/**
  * Style pour le conteneur de la calculatrice.
  */
#gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes égales */
  grid-template-rows: repeat(6, 1fr); /* 6 lignes égales */
  position: relative;
  left: 5vw; /* Réduction du décalage horizontal */
  top: 10vh; /* Réduction du décalage vertical */
  height: 70vh; /* Ajustement de la hauteur */
  width: 90vw; /* Ajustement de la largeur */
  grid-column-gap: 10px; /* Réduction de l'espacement entre les colonnes */
  grid-row-gap: 10px; /* Réduction de l'espacement entre les lignes */
  padding: 10px; /* Réduction de l'espacement intérieur */
  background-color: var(
    --bg-container-color
  ); /* Couleur de fond des conteneurs */
  border-radius: 25px; /* Coins arrondis */
  box-shadow: 3px 3px 12px #000000; /* Ombre légère pour l'effet de profondeur */
}

/**
  * Style pour l'affichage de l'écran de la calculatrice.
  */
#screenDisplay {
  grid-area: 1 / 1 / 2 / 5; /* Positionnement dans la grille */
  background-color: var(--button-color); /* Couleur de fond */
  box-shadow: 3px 3px 12px #202020; /* Ombre légère */
  border-radius: 25px; /* Coins arrondis */
  border: none; /* Suppression de la bordure */
  display: flex; /* Utilisation de flexbox */
  align-items: center; /* Centrage vertical */
  justify-content: flex-end; /* Alignement à droite */
  padding-right: 15px; /* Espacement intérieur à droite */
  color: var(--font-color); /* Couleur de la police */
  text-shadow: 3px 3px 12px #747474; /* Ombre du texte */
  font-family: var(--font-police); /* Police de caractères */
  font-size: 4rem; /* Taille de la police */
  overflow: hidden;
}
