/* Media query pour les écrans de largeur inférieure à 992px */
@media (max-width: 992px) {
    #gridContainer {
      left: 5vw; /* Réduction du décalage horizontal */
      top: 10vh; /* Réduction du décalage vertical */
      height: 50vh; /* Ajustement de la hauteur */
      width: 90vw; /* Ajustement de la largeur */
      grid-column-gap: 10px; /* Réduction de l'espacement entre les colonnes */
      grid-row-gap: 10px; /* Réduction de l'espacement entre les lignes */
      padding: 10px; /* Réduction de l'espacement intérieur */
    }
  
    #screenDisplay {
      font-size: 4rem; /* Réduction de la taille de la police pour l'écran */
      padding-right: 10px; /* Ajustement de l'espacement intérieur */
    }
  
    .button {
      font-size: 4rem; /* Réduction de la taille de la police des boutons */
      border-radius: 15px; /* Réduction des coins arrondis */
    }
  }