/**
 * Définition des variables globales pour les styles.
 */
:root {
  /**
   * Variable pour la couleur de fond principale.
   */
  --bg-color: rgb(183, 183, 183);

  /**
   * Variable pour la couleur de fond des conteneurs.
   */
  --bg-container-color: #2a2930;

  /**
   * Variable pour la couleur de fond des boutons.
   */
  --button-color: rgb(73, 73, 73);

  /**
   * Variable pour la couleur de la police.
   */
  --font-color: rgb(231, 233, 234);

  /**
   * Variable pour la couleur de fond du bouton "Clear".
   */
  --clear-button: rgb(212, 0, 0);

  /**
   * Variable pour la couleur de fond du bouton d'addition.
   */
  --addition-button: rgb(103, 219, 97);
}
