/**
 * Déclaration de la police personnalisée "Digital-7".
 */
@font-face {
  /**
   * Nom de la police personnalisée.
   */
  font-family: "Digital-7";

  /**
   * Chemin vers le fichier de police.
   */
  src: url("/css/font/digital-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/**
 * Définition des variables globales pour les styles.
 */
:root {
  /**
   * Variable pour la police de caractères principale.
   */
  --font-police: "Digital-7", monospace;
}
